body {
    background-color: #f4f6f9 !important;
}

.verdana_font {
    font-family: "Verdana Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

#about_project_nasdaq_companies:hover {
    background-color: #232425;
    color: white;
}


#typed-strings-id {
    font-size: 25px;
}

#typed-strings-id-2 {
    font-size: 15px;
}

#mainpage-terminal {
    background-color: #384d70;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}

#terminal-title-bar {
    background-color: silver;
    height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
}