{% extends "base.html" %}
{% load static %}

{% block base_head %}
<title>About me | SM Mashuque</title>
{% endblock base_head %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="card mx-auto my-5 shadow-effect" style="width: 45rem;">
        <div class="card-body verdana_font">
          <h2 class="card-title mt-2">More about myself</h2>
          <p class="card-subtitle mt-4">
            I have studied Computer and Information Sciences at Cornell University.
            I have a hunger to learn and grow. Learning new things about software design always excites me.
            I want to learn and master programming skills that can be used to solve real life problems.
            I am always looking to expand my understanding of important programming concepts and best practices.
            I want to keep learning and develop my understanding of various ideas in software architecture and web scalability.

          </p>
          <p class="card-subtitle mt-4">
            I am most experienced in Python and Java.
            I also have intermediate skills in C/C++, JavaScript, PHP, and Go. More detailed information is found in my
            <a href="/static/resumes/SM_Mashuque_2022.pdf"> resume. </a>
            Frameworks and Technologies that I used include Django, Spring, React, jQuery, SQL databases: MySQL, SQL Server, PostgreSQL, NoSQL databases: Elasticsearch, DynamoDb.
          </p>
          <p class="card-subtitle mt-4">
            You may contact me at <a href="mailto:smjim1998@gmail.com">smjim1998@gmail.com</a>
          </p>
          <p class="card-subtitle mt-4"> Check out my projects!</p>
          <p class="card-subtitle mt-4"> Thank you for visiting my website.</p>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}