{% extends "base.html" %}
{% load static %}

{% block base_head %}
<title>About me | SM Mashuque</title>
{% endblock base_head %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="card mx-auto my-5" style="width: 45rem;">
        <div class="card-body verdana_font">
          <h2 class="card-title mt-2">More about myself</h2>
          <p class="card-subtitle mt-4">
            I am studying Computer and Information Sciences at Cornell University.
            I have a hunger to learn and grow. Learning new things about software design always excites me.
            I want to learn and master programming skills that can be used to solve real life problems.
            I am always looking to expand my understanding of important programming concepts and best practices.
            I want to keep learning and develop my understanding of various ideas in software architecture and web scalability.

          </p>
          <p class="card-subtitle mt-4">
            I am most experienced in Python.
            I also have intermediate skills in Java, C/C++, and JavaScript.
            The Framework that I know most is Django.
            Also, I have some experience with - React, jQuery, PHP, BootStrap.
          </p>
          <p class="card-subtitle mt-4">
            You may contact me at <a href="mailto:smjim1998@gmail.com">smjim1998@gmail.com</a>
            or at <a href="mailto:sm2344@cornell.edu">sm2344@cornell.edu</a>
          </p>
          <p class="card-subtitle mt-4"> Check out my projects!</p>
          <p class="card-subtitle mt-4"> Thank you for visiting my website.</p>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}