{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="/static/bootstrap/jquery.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.css">
    <script type="text/javascript" src="/static/bootstrap/bootstrap.js"></script>
{#    <link rel="stylesheet" href="/static/customstyle.css">#}

    <title>SM's Website</title>
{#    {% include "base/css.html" %}#}
    {% block base_head %}
    {% endblock base_head %}
  </head>
  <body class="bg-light">
    {% include "navbar.html" %}
    <div class="container">
    {% block content %} {% endblock %}
    </div>
  </body>
</html>