{% extends "base.html" %}
{% load static %}

{% block base_head %}
    <script src="/static/breakout_game/phaser.js"></script>

{% endblock base_head %}

{% block content %}
  <div class="container">
    <div class="my-5">
      <h2>Breakout in Space!</h2>
      <p class="my-3"> <em>Controls: </em>Move your mouse to control the paddle. Press Space to fire bullets at the bricks!</p>
    </div>
    <div class="my-5" id="breakout_game"></div>
    <div>
      <p> The background music is: Bodenstandig 2000 - In rock.
        Source: <a href="https://youtu.be/6pGm5F1Z7oY"> https://youtu.be/6pGm5F1Z7oY</a>
      </p>

    </div>
  </div>

  <script type="text/javascript" src="/static/breakout_game/breakout_game_code.js"></script>

{% endblock content %}