{% extends "base.html" %}
{% load static %}

{% block base_head %}

{% endblock base_head %}

{% block content %}
{#  <h1 class="text-center">{{ title }}</h1>#}
{#  <h1 class="text-center">{{ content }}</h1>#}
  <div class="container">
    <div class="row">
      <div class="card mx-auto my-5" style="width: 45rem;">
        <div class="card-body">
          <h2 class="card-title mt-2">Hi, I am SM</h2>
          <h6 class="card-subtitle mb-2 text-muted">Curious Learner. Software Engineer. Currently a student at Cornell University</h6>
          <div class="mt-3">
            <a href="/static/sm_mashuque_fall_2018_resume_.pdf" target="_blank" class="btn btn-warning mr-2">Resume</a>
            <a href="https://www.linkedin.com/in/smmashuq/" target="_blank" class="btn btn-primary mr-2">LinkedIn</a>
            <a href="https://github.com/mashgreat2" target="_blank" class="btn btn-success mr-2">GitHub</a>
          </div>
          <p class="card-subtitle mt-4">
             I update the website regularly. Please check back later to see my updated work.
          </p>
        </div>
      </div>
    </div>
    {#  About me section. Keep it in home for now. #}
    <div class="row">
      <div class="card mx-auto my-5" style="width: 45rem;">
        <div class="card-body">
          <h2 class="card-title mt-2">More about myself</h2>
          <p class="card-subtitle mt-4">
            Software Engineer with a hunger to learn and grow.
            Learning new things about software design always excites me.
            I want to learn and master programming skills that can be used to solve real life problems.
            I enjoy reading books and I am always looking to expand my understanding of important programming concepts and best practices.
            I want to keep learning and develop my understanding of various ideas in software architecture and web scalability.
            So far, my experience has been more about working with back-end technologies,
            but I do have interest in learning about front-end technologies.
          </p>
          <p class="card-subtitle mt-4">
            The Framework that I know most is Django. I am most experienced in Python.
            I also have intermediate skills in Java, C/C++, and JavaScript.
            Also, I have some experience with - React, jQuery, PHP, BootStrap, MySQL.
          </p>
          <p class="card-subtitle mt-4">
            You may contact me at <a href="mailto:smjim1998@gmail.com">smjim1998@gmail.com</a>
            or at <a href="mailto:sm2344@cornell.edu">sm2344@cornell.edu</a>
          </p>
          <p class="card-subtitle mt-4"> Check out my projects!</p>
          <p class="card-subtitle mt-4"> Thank you for visiting my website.</p>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}