{% extends "base.html" %}
{% load static %}

{% block base_head %}

{% endblock base_head %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="card mx-auto my-5" style="width: 30rem;">
        <a href="{% url 'breakout_game' %}">
          <img class="card-img-top" src="/static/site_images/breakout_game.png" alt="breakout_game_image">
        </a>
        <div class="card-body">
          <h5 class="card-title">Breakout Game</h5>
          <p class="card-text">This Breakout game is created in JavaScript. I am currently working on it, but you are welcome to play what I have so far.</p>
          <a href="{% url 'breakout_game' %}" class="btn btn-primary">Play the game!</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card mx-auto my-5" style="width: 30rem;">
        <a href="{% url 'fortune_1000_companies' %}">
          <img class="card-img-top" src="/static/site_images/faang_image.jpg" alt="breakout_game_image">
        </a>
        <div class="card-body">
          <h5 class="card-title">Nasdaq Companies List Stock Data ( in progress )</h5>
          <p class="card-text">
            An app with a list of Nasdaq companies. The app integrates with IEX api for showing latest stock price information.
          </p>
          <a href="{% url 'fortune_1000_companies' %}" class="btn btn-primary">Visit the web app!</a>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}