{% extends "base.html" %}
{% load static %}

{% block base_head %}

{% endblock base_head %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="card-columns">
        <div class="card mx-auto my-3" style="">
          <div class="card-body">
            <h5 class="card-title">Nasdaq Companies Stock Data</h5>
{#            <a href="{% url 'fortune_1000_companies' %}v2">#}
              <img class="card-img-top" src="/static/project_images/stocks_app_gif.gif" alt="breakout_game_image">
{#            </a>#}

            <div class="button-section mt-3">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">
                Project Info
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Nasdaq Companies Stock Data</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="card-text">
                        An app that shows stock price data for Nasdaq companies. The app integrates with IEX api for showing latest stock price information.
                      </p>
                      <p>Built with Django, React, and Django REST Framework.</p>
                    </div>
                    <div class="modal-footer">

                    </div>
                  </div>
                </div>
              </div>

              <a href="{% url 'fortune_1000_companies' %}v2" class="btn btn-outline-primary my-2">Visit the web app!</a>

            </div>
          </div>
        </div>

        <div class="card mx-auto my-3" style="">
          <div class="card-body">
            <h5 class="card-title">Cornell Food Menu</h5>
{#            <a href="https://cornellfood.me/" target="_blank">#}
              <img class="card-img-top" src="/static/project_images/cornell_food_gif.gif" alt="paco_logo">
{#            </a>#}
            <a target="_blank" href="https://cornellfood.me/" class=" my-2 my-2">https://cornellfood.me/</a>

            <div class="button-section mt-3">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal_2_">
                Project Info
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal_2_" tabindex="-1" role="dialog" aria-labelledby="exampleModal_2_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModal_2_Label">Cornell Food Menu</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="card-text">
                        A website to browse and look at food menu for various locations in the Cornell campus.
                      </p>
                      <p>
                        Users can find the best rated foods and places in the campus.
                        The website allows users to create reviews for meals and set up email alerts for their favorite foods.
                      </p>
                      <p>
                        Built with Python, Django, Celery, and more.
                      </p>
                    </div>
                    <div class="modal-footer">

                    </div>
                  </div>
                </div>
              </div>

              <a target="_blank" href="https://github.com/mashgreat2/cu_food_reviews" class="btn btn-outline-primary my-2">GitHub Repository</a>
            </div>

          </div>
        </div>

        <div class="card mx-auto my-3" style="">
          <div class="card-body">
            <h5 class="card-title">Notes App.</h5>
{#            <a href="https://github.com/mashgreat2/notes" target="_blank">#}
              <img class="card-img-top" src="/static/project_images/react_django_mobx_app_2.gif" alt="paco_logo">
{#            </a>#}

            <div class="button-section mt-3">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal_3_">
                Project Info
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal_3_" tabindex="-1" role="dialog" aria-labelledby="exampleModal_3_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModal_3_Label">Notes App</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>A simple CRUD app built with Django, React, and MobX</p>
                      <p class="card-text">
                        A simple notes app that allows you to create, read, update, and delete notes.
                      </p>
                      <p>
                        Built with Python, Django, React, and MobX.
                      </p>
                    </div>
                    <div class="modal-footer">

                    </div>
                  </div>
                </div>
              </div>

              <a target="_blank" href="https://github.com/mashgreat2/notes" class="btn btn-outline-primary my-2">GitHub Repository</a>
            </div>
          </div>
        </div>

        <div class="card mx-auto my-3" style="">
          <div class="card-body">
            <h5 class="card-title">Paco Apps</h5>
{#            <a href="https://pacoapps.herokuapp.com/" target="_blank">#}
              <img class="card-img-top" src="/static/pacoapps_screenshot.png" alt="paco_logo">
{#            </a>#}

            <a target="_blank" href="https://pacoapps.herokuapp.com/" class="my-2">https://pacoapps.herokuapp.com/</a>


            <div class="button-section mt-3">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal_4_">
                Project Info
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal_4_" tabindex="-1" role="dialog" aria-labelledby="exampleModal_4_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModal_4_Label">Paco Apps</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="card-text">
                        A website with a collection of cool web apps. There are three apps currently.
                      </p>
                      <p> <b>Notes</b></p>
                      <p>An app that allows users to create, update, view, and delete notes.</p>
                      <p>Built with Python, Django.</p>

                      <p> <b>Text Analyzer</b></p>
                      <p>Web app that accepts a URL link, or a body of text. The app shows interesting statistics about the given URL article or text.</p>
                      <p>Built with Python, Django.</p>

                      <p> <b>Future Email</b></p>
                      <p>A web app that allows users to send an email in future with a specified time. You may use it to send someone a wish for their birthday or send yourself a reminder..</p>
                      <p>Built with Python, Django, Celery, RabbitMQ.</p>

                    </div>
                    <div class="modal-footer">

                    </div>
                  </div>
                </div>
              </div>

              <a target="_blank" href="https://github.com/mashgreat2/p_apps" class="btn btn-outline-primary my-2">GitHub repository!</a>
            </div>

          </div>
        </div>

        <div class="card mx-auto my-3" style="">
          <div class="card-body">
            <h5 class="card-title">Hangman Game</h5>
{#            <a href="https://github.com/mashgreat2/hangman_game_python_c_plus_plus" target="_blank">#}
              <img class="card-img-top" src="/static/project_images/hangman_game_gif.gif" alt="breakout_game_image">
{#            </a>#}


            <div class="button-section mt-3">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal_5_">
                Project Info
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal_5_" tabindex="-1" role="dialog" aria-labelledby="exampleModal_5_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModal_5_Label">Hangman Game</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="card-text">
                        A Hangman Game Created with Python and C++. Game business logic is calculated by using C++ functions,
                        and Python is used to start and end the game, and to print out information to the user about
                        the state of the game.
                      </p>


                    </div>
                    <div class="modal-footer">

                    </div>
                  </div>
                </div>
              </div>

              <a href="https://github.com/mashgreat2/hangman_game_python_c_plus_plus" class="btn btn-outline-primary my-2" target="_blank">GitHub repository</a>
            </div>

          </div>
        </div>

        <div class="card mx-auto my-3" style="">
          <div class="card-body">
            <h5 class="card-title">Breakout Game</h5>
{#            <a href="{% url 'breakout_game' %}">#}
              <img class="card-img-top" src="/static/project_images/breakout_game_gif.gif" alt="breakout_game_image">
{#            </a>#}

            <div class="button-section mt-3">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal_6_">
                Project Info
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal_6_" tabindex="-1" role="dialog" aria-labelledby="exampleModal_6_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModal_6_Label">Breakout Game</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="card-text">A Breakout game is created with JavaScript.
                      </p>
                      <p>You can fire bullets with the space key.</p>
                    </div>
                    <div class="modal-footer">

                    </div>
                  </div>
                </div>
              </div>

              <a href="{% url 'breakout_game' %}" class="btn btn-outline-primary my-2">Play the game!</a>
            </div>



          </div>
        </div>

      </div>
    </div>
  </div>



{% endblock content %}