{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load fortune_1000_template_extra %}

{% block base_head %}

{% endblock base_head %}

{% block content %}
  <div class="container">
    <div class="card my-2">
      <h5 class="card-title mx-2 my-2"> This is a list of 2018 Fortune 1000 companies.</h5>
      <p class="card-text mx-2 my-2">
        The initial data has been extracted from a Kaggle dataset.
        You can see the csv data at <a href="https://www.kaggle.com/Eruditepanda/fortune-1000-2018/version/3">Kaggle</a>
      </p>
      <p class="card-text mx-2 my-2">
        The goal of this project is to learn and gain practice on how to load data into a Django model, persist it in
        a postgres db, and show the data in a View. Next step is to integrate this page of information with IEX API which will provides
        stock price data for given companies.
        The goals of this project described below:
      </p>
      <ul>
        <li> Load data into Django model and show it in a View (Done)</li>
        <li> Fix missing stock symbol data from by searching Nasdaq
          <a href="https://www.nasdaq.com/screening/company-list.aspx"> DB</a>.
          Then update the models in Django DB.(Done)
        </li>
        <li> Integrate this page with <a href="https://iextrading.com/developer">IEX API</a>
          to show stock price info(To Be Done)</li>
        <li> Paginate the View ( To Be Done )</li>
        <li> Add Detail view for each company where you can see additional information
          like historic stock price data for different time periods. ( To Be Done )</li>
      </ul>
    </div>
    <h3>Stocks data test:</h3>
{#    <p>{{ stocks_data }}</p>#}
    {% for stock, data in stocks_data.items %}
      <p class="my-2">{{ stock }}</p>
      <p class="my-2">{{ data.quote.open }}</p>
        <ol>
        {% for item in data %}
{#          <li>{{ item }}</li>#}
        {% endfor %}
        </ol>
    {% endfor %}
    {% for company in object_list %}
      <div class="card my-3 mx-2">
{#        <div class="card-header border-0">#}
{#          <img src="/static/site_images/placeholder.png" alt="company_img_placeholder", width="200rem;">#}
{#        </div>#}
        <div class="card-block px-2">
          <div class="clearfix jumbotron-fluid">
            <h4 class="card-title mt-2 float-left">{{ company.name }}</h4>
            <p class="text-muted float-right">{{ company.rank }}</p>
          </div>
          <h6 class="text-muted">CEO: {{ company.ceo }}</h6>
          <table class="table table-sm">
            <thead class="">
              <tr>
                <th scope="col">Revenue ($)</th>
                <th scope="col">Profit ($)</th>
                <th scope="col">Assets ($)</th>
                <th scope="col">Stock Symbol</th>
                <th scope="col">Stock Price ($)</th>
                <th scope="col">City/State</th>
                <th scope="col">Employees</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>$ {{ company.revenue | multiply_by_1m | intword }}</td>
                <td>$ {{ company.profits | multiply_by_1k | intword }}</td>
                <td>$ {{ company.assets | multiply_by_1m | intword }}</td>
                <td>{{ company.stock_ticker }}</td>
                <td>$(coming soon)</td>
                <td>{{ company.city }} / {{ company.state }}</td>
                <td>{{ company.employees | intcomma }}</td>
              </tr>
            </tbody>
          </table>
{#          <p class="card-text">Description</p>#}
{#          <a href="#" class="btn btn-primary">Website</a>#}
        </div>
{#        <div class="w-100"></div>#}
        {#    <div class="card-footer w-100 text-muted">#}
        {#        Potential future footer#}
        {#    </div>#}
      </div>
    {% endfor %}
  </div>



{% endblock content %}