{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load fortune_1000_template_extra %}

{% block base_head %}

{% endblock base_head %}

{% block content %}
  <div class="container">
    <div class="card my-2">
      <h5 class="card-title mx-2 my-2"> This is a list of 2018 Fortune 1000 companies.</h5>
      <p class="card-text mx-2 my-2">
        The data has been extracted from a csv file that contains company name, rank, revenues, profit.
        You can see the csv dataset at <a href="https://www.kaggle.com/Eruditepanda/fortune-1000-2018/version/3">Kaggle</a>
      </p>
      <p class="card-text mx-2 my-2">
        The goal of this project is to learn and gain practice how to load data into a Django model and show it
        in a list view. I also plan on integrating this page of information with IEX API which will provides
        stock price data for given companies. I will also try to connect to some image API to get a picture
        of each company's logo.
      </p>
    </div>
    {% for company in object_list %}
      <div class="card my-3 mx-2">
{#        <div class="card-header border-0">#}
{#          <img src="/static/site_images/placeholder.png" alt="company_img_placeholder", width="200rem;">#}
{#        </div>#}
        <div class="card-block px-2">
          <div class="clearfix jumbotron-fluid">
            <h4 class="card-title mt-2 float-left">{{ company.name }}</h4>
            <p class="text-muted float-right">{{ company.rank }}</p>
          </div>
          <h6 class="text-muted">CEO: {{ company.ceo }}</h6>
          <table class="table table-sm">
            <thead class="">
              <tr>
                <th scope="col">Revenue ($)</th>
                <th scope="col">Profit ($)</th>
                <th scope="col">Assets ($)</th>
                <th scope="col">City/State</th>
                <th scope="col">Employees</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>$ {{ company.revenue | get_billion | intword }}</td>
                <td>$ {{ company.profits | get_billion | intword}}</td>
                <td>$ {{ company.assets | get_billion | intword }}</td>
                <td>{{ company.city }} / {{ company.state }}</td>
                <td>{{ company.employees | intcomma }}</td>
              </tr>
            </tbody>
          </table>
{#          <p class="card-text">Description</p>#}
{#          <a href="#" class="btn btn-primary">Website</a>#}
        </div>
{#        <div class="w-100"></div>#}
        {#    <div class="card-footer w-100 text-muted">#}
        {#        Potential future footer#}
        {#    </div>#}
      </div>
    {% endfor %}
  </div>



{% endblock content %}